# Dependencies
node_modules

# Build outputs
dist
.turbo
coverage

# Environment files (ignore everywhere)
.env
.env.*
**/.env
**/.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store

# IDE files
.idea
.vscode/*
!.vscode/extensions.json
